services:
  minecraft:
    image: itzg/minecraft-server
    container_name: minecraft
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.21.4"
      MEMORY: "8G"
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    volumes:
      - ./data:/data
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - proxy-internal
      - minecraft

networks:
  proxy-internal:
    external: true
  minecraft:
    driver: bridge